body {
  font-family: var(--font-montserrat), 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-montserrat), 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Предотвращаем горизонтальный скролл */
html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
}