.wrapper {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #383838;
}

.container {
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #181818;
    overflow-x: hidden;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: calc(100vh - 73px);
}

.footer {
    display: none;
}