.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

.playlist__item:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.playlist__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
}

.track__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 447px;
}

.track__titleImage {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
    border-radius: 4px;
}

.track__titleSvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.track__titleText {
    flex: 1;
}

.track__titleLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.track__titleLink:hover {
    color: #d9b6ff;
}

.track__author {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.track__authorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.track__authorLink:hover {
    color: #d9b6ff;
}

.track__album {
    width: 245px;
}

.track__albumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    text-decoration: none;
}

.track__albumLink:hover {
    color: #ffffff;
}

.track__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
}

.track__timeSvg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
    cursor: pointer;
}

.track__timeSvg:hover {
    stroke: #d9b6ff;
}

.track__timeSvg:active {
    stroke: #ad61ff;
    fill: #ad61ff;
}

.track__timeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
    min-width: 40px;
}