.filterItemContainer {
    position: relative;
    display: inline-block;
}

.filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.filter__button:not(:last-child) {
    margin-right: 10px;
}

.filter__button.active {
    border-color: #ad61ff;
    color: #ad61ff;
}

.filter__popup {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: #313131;
    border-radius: 12px;
    padding: 34px;
    z-index: 1000;
    min-width: 248px;
    max-height: 305px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Класс для кнопок текстовых */
.btnText:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}

.btnText:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}